.member_card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:200px;
    height:300px;
    margin:25px;
    border-radius:4px;
    background-color:#E8E8E8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.member_image{
    width:200px;
    height:200px;
}
.member_info{
    padding:25px;
}