<mat-toolbar class="toolbarstyle">
    <mat-toolbar-row>
        <button (click)="sidenav.toggle();" mat-icon-button>
            <mat-icon class="menu_button" >menu</mat-icon>
        </button>
        <div class="title_and_logo">
            <h1 class="title">Isetch Google Club</h1>
            <img src="../assets/images/Untitled__2_-removebg-preview.png" alt="" class="logo">
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item href="dashboard">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">dashboard</mat-icon>
                    Dashboard
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">person</mat-icon>
                    Events
                </div>
            </a>
            <a mat-list-item href="content">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">assignment</mat-icon>
                    Content
                </div>
            </a>
            <a mat-list-item href="tasks">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">playlist_add_check</mat-icon>
                    Tasks
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openScorecardPopup()">
                    <mat-icon class="sidebar_icon" >assessment</mat-icon>
                    Scorecard
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openPasswordPopup()">
                    <mat-icon class="sidebar_icon">https</mat-icon>
                    Password
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openSignoutPopup()">
                    <mat-icon class="sidebar_icon">keyboard_backspace</mat-icon>
                    Sign out
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content_container_area">
            <div class="add_button_area button_container">
                <button class="single_button" (click)="openAddPopup();">Add Event</button>
                <div class="component_label">
                    <h2>Name</h2>
                    <h2>Date</h2>
                    <h2>Image</h2>
                    <div class="component_actions">
                        <h2>Actions</h2>
                    </div>
                </div>
            </div>
            <div class="content_area content_container">
                <app-shared-component></app-shared-component>
                <app-shared-component></app-shared-component>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>