<div class="add_member_popup">
    <h1 class="titles">Add Member</h1>
    <table class="add_member_table">
        <tr class="add_member_tr">
            <td>
                <label for="">Full Name</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr class="add_member_tr">
            <td>
                <label for="">Phone</label>
            </td>
            <td>
                <input type="phone">
            </td>
        </tr>
        <tr class="add_member_tr">
            <td>
                <label for="">e-mail</label>
            </td>
            <td>
                <input type="email">
            </td>
        </tr>
        <tr class="add_member_tr">
            <td>
                <label for="">Birthday</label>
            </td>
            <td>
                <input type="date">
            </td>
        </tr>
        <tr class="add_member_tr">
            <td>
                <label for="">Photo</label>
            </td>
            <td>
                <input type="file">
            </td>
        </tr>
    </table>
    <div class="center_button">
        <button class="single_button">Add Member</button>
    </div>
</div>