<div class="scorecard_popup">
    <h1 class="titles">Scorecard:</h1>
    <table class="scorecard_table">
        <tr>
            <td>
                <label for="">Name</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Departemnt</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Media coverage</label>
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Disipline</label>
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Contribution</label>
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Departement Points</label>
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Attendance at meetings and actions</label>
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">Month</label>
            </td>
            <td>
                <input type="date">
            </td>
        </tr>
    </table>
    <div class="center_button">
        <button class="single_button">Submit</button>
    </div>
</div>
