<div class="recent_tasks_box">
    <h1 class="titles">Recent Tasks</h1>
    <h2 class="table_title titles">Dev Departement</h2>
    <div class="tasks_container">
        <div class="tasks_header">
            <h2>Task</h2>
            <h2>Task Status</h2>
        </div>
        <app-task></app-task>
    </div>
    <h2 class="table_title titles">Media Departement</h2>
    <div class="tasks_container">
        <div class="tasks_header">
            <h2>Task</h2>
            <h2>Task Status</h2>
        </div>
        <app-task></app-task>
    </div>
    
</div>
